<% layout("../layout/authBoilerplate") %> <!--*All The Contents Of this File Will be Passed To This Layout File-->

    <div class="container flex h-fit min-w-full  ">

        <div class="container w-1/2 rounded-none bg-blue-200/60"  >
            <img src="/images/data-analysis-login.png" alt="">
        </div>


        <div class="container w-[50%] bg-gray-100 pl-32">
            <img src="/images/logo.png" alt="" class="mb-4 w-24 h-20 ml-36 ">
            <h1 class=" text-3xl ml-14 mb-4 font-sans font-medium text-gray-700">Sign in to Studquery</h1>
            <h3 class="font-normal text-xl ml-12 mb-10 text-gray-500 font-cera">Are you new User? <a href="/signup" class="text-blue-500 underline underline-offset-1">Register Here</a></h3>
            <form method="post" autocomplete="off">

                <label for="username" class="text-justify text-gray-600">Username Or Email</label>
                <br>
                <input type="text" name="username" id="username" class="focus:outline-none focus:border-indigo-300 focus:ring-1 focus:ring-indigo-300  rounded-xl mt-3 mb-10 w-96 border-slate-300 shadow-md shadow-blue-200/30" required>
                <br>
                <label for="password" class="text-justify text-gray-600">Password</label>
                <br>
                <input type="password" name="password" id="password"  class="focus:outline-none focus:border-indigo-300 focus:ring-1 focus:ring-indigo-300  rounded-xl mt-3 mb-10 w-96 border-slate-300 shadow-md shadow-blue-200/30" required>

                <br>

                <button formaction="/login" type="submit" class="rounded-xl w-56 h-12 bg-blue-500 shadow-md shadow-blue-600/30 hover:bg-blue-400 mx-20 text-white font-semibold text-xl font-cera">Login</button>
                <button formaction="/adminLogin" class="rounded-xl mt-5 w-56 h-12 bg-teal-500 shadow-md shadow-teal-600/30 hover:bg-teal-400 mx-20 text-white font-semibold text-xl font-cera">Login As Admin</button>
                
            </form>

           

            <p class=" text-sm text-gray-400 mt-8 mr-20 font-cera" >By Logging in you are automatically accepting the Terms and Conditions of Studquery and Privacy Policy Applies.</p>
        </div>
    </div>

