<nav class="container flex flex-wrap flex-col h-20">
    <section class=" w-[60%] flex flex-row justify-between">
        <div id="logo" class="">
            <a href="/admin">
                <img src="/images/logo.png" alt="" class="w-14 h-10 ml-10 inline-block">
                <p class="list-none inline-block py-5 font-sofia font-light text-[#7485F2]">StudQuery</p>
            </a>
        </div>

        <div id="search" class="h-10 mt-3">
            <form action="/question/search" method="get">
                <svg class="absolute my-2 ml-4" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24"
                    width="24px" fill="#AAAABC">
                    <path d="M0 0h24v24H0V0z" fill="none" />
                    <path
                        d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z" />
                </svg>
                <input style="width: 500px;" type="text" name="search" id="search" placeholder="Search Here"
                    class="pl-14 rounded-lg border-0 bg-gray-200 focus:border-0 focus:ring-2 focus:ring-blue-500 placeholder:font-sofia placeholder:text-[#AAAABC] placeholder:font-light">
            </form>
        </div>
    </section>

    <section class="w-[30%] flex flex-row justify-around">

        <p class=" text-[#7485F2] hover:bg-[#7485F2] hover:text-white rounded-md cursor-pointer my-3 py-2 px-2 transition-all duration-300"><a class="font-sofia font-light " href="/admin">Home</a></p>

        <p class="text-[#7485F2] hover:bg-[#7485F2] hover:text-white rounded-md cursor-pointer my-3 py-2 px-2 transition-all duration-300"> <a class="font-sofia font-light" href=<%=userSession.isLoggedIn ? "/logout" : "/login" %> ><%= userSession.isLoggedIn ? "Log Out" : "Log In" %>
            </a>
        </p>

        <p class="text-[#7485F2] hover:bg-[#7485F2] hover:text-white rounded-md cursor-pointer my-3 py-2 px-2 transition-all duration-300 ">
            <a href="/signup" class="font-sofia font-light">Sign Up</a>
        </p>


    </section>

    <section class="flex flex-row my-3">
        <div class="w-10 h-10 rounded-full bg-gray-200"></div>

    </section>


</nav>

<nav class="flex flex-row mt-10  justify-center items-center mx-auto gap-4 text-gray-500 bg-[#DEF2F1] rounded-xl w-[90%] p-1">
        <form action="/admin/users" method="get">
            <button class="p-3  w-full hover:border-[#40916c] hover:text-white hover:bg-[#52b788]  rounded-r-md rounded-l-lg ">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 inline-block mr-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
                  </svg>
                <span class="pt-1 font-sofia font-light ">Manage Users</span>
                
            </button>
        </form>

        <form action="/admin/questions" method="get">
            <button class="p-3 w-full group   hover:border-[#40916c] hover:text-white hover:bg-[#52b788]  rounded-r-md rounded-l-lg">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 inline-block mr-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                  </svg>
                <span class="pt-1 font-sofia font-light ">Manage Questions</span>
                
            </button>
        </form>

        <form action="/admin/answers">
            <button class="p-3 w-full group hover:border-[#40916c] hover:text-white hover:bg-[#52b788]  rounded-r-md rounded-l-lg">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 inline-block mr-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 10h10a8 8 0 018 8v2M3 10l6 6m-6-6l6-6" />
                  </svg>
                <span class=" pt-1 font-sofia font-light">Manage Answers</span>
                
            </button>
        </form>

        <form action="/report" method="get">
            <button class="p-3 w-full group  hover:border-[#40916c] hover:text-white hover:bg-[#52b788]  rounded-r-md rounded-l-lg ">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 inline-block mr-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 21v-4m0 0V5a2 2 0 012-2h6.5l1 1H21l-3 6 3 6h-8.5l-1-1H5a2 2 0 00-2 2zm9-13.5V9" />
                  </svg>
                <span class=" pt-1 font-sofia font-light">Reported Questions</span>
            </button>
        </form>

        <form action="/report/answers" method="get">
            <button class="p-3 w-full group  hover:border-[#40916c] hover:text-white hover:bg-[#52b788]  rounded-r-md rounded-l-lg ">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 inline-block mr-4" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
                </svg>
                <span class=" pt-1 font-sofia font-light">Reported Answers</span>
            </button>
        </form>

        <form action="/admin/search" method="get">
            <button class="p-3 w-full group hover:border-[#40916c] hover:text-white hover:bg-[#52b788]  rounded-r-md rounded-l-lg ">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 inline-block mr-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                </svg>
                <span class=" pt-1 font-sofia font-light">Search</span>
                
            </button>
        </form>
</nav>

<script>
    	$(".profile-container").hover(function(e) {
            $("#hover-options").toggleClass("hidden");
        })
        $(".hover-options").hover(function() {
            $(this).toggleClass("hidden");
        })
</script>
