<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create A New Question</title>
    <link rel="stylesheet" href="/styles/output.css">
</head>
<body>
    <h1>Add A New Question</h1>

    <div>
        <form action="/user/<%= user._id%>/addQuestion" method="post">
            <label for="questionname">Question Name</label>
            <input type="text" name="questionTitle" id="questionname">

            <br>
            <br>
            <br>
            <label for="questionDescription">Description</label>
            <textarea name="questionDescription" id="questionDescription" cols="30" rows="10"></textarea>

            <br><br>

            
            <button type="submit">Submit Question</button>
            <button type="reset">Reset</button>
        </form>
    </div>
</body>
</html>