@tailwind base;
@tailwind components;
@tailwind utilities;

button {
    transition: all ease-in-out 0.3s;
}

@layer components{
    .input-text {
        @apply rounded-xl mt-3 mb-10 w-96 border-slate-300 focus:border-white;
    }

    .textarea {
        @apply rounded-xl mt-3 mb-10 border-slate-300 focus:border-white;
    }

    .hidden {
        display:none
    }
   
}

@layer utilities {

   
    
    .bg-gradient {
        background: #FEAC5E;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
    }

    .font-cera {
        font-family:"Cera Pro"
    }


    .font-inter {
        font-family:"Inter"
    }
}
