@tailwind base;
@tailwind components;
@tailwind utilities;

button {
    transition: all ease-in-out 0.3s;
}

div#message {
    transition: opacity 1s;
}

@layer components{
    .input-text {
        @apply rounded-xl mt-3 mb-10 w-96 border-slate-300 focus:border-white;
    }

    .textarea {
        @apply rounded-xl mt-3 mb-10 border-slate-300 focus:border-white;
    }

    .hidden {
        display:none
    }

   
   
}

@layer utilities {

    .bg-gradient {
        background: #FEAC5E;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
    }

    .font-cera {
        font-family:"Cera Pro"
    }

    .font-biotif {
        font-family:"Biotif"
    }

    .font-inter {
        font-family:"Inter"
    }

    .font-google {
        font-family:"Roboto";
    }

    .font-neue {
        font-family:"Neue Haas Grotesk Display Pro"
    }

    .font-jost {
        font-family:"Jost";
    }
    .font-sofia {
        font-family: 'Sofia Pro', sans-serif;
    }
    .font-segoe {
        font-family:"Segoe UI"
    }

    .profile-picture-file {
        color: transparent;
    }

    .profile-picture-file::-webkit-file-upload-button {
        visibility: hidden;
      }

    .profile-picture-file::before {
        content:"Select Profile Picture";
        color:white;
        display:inline-block;
        padding: 5px 8px;
        outline: none;
        white-space: nowrap;
        -webkit-user-select: none;
        cursor: pointer;
        font-family:"Sofia Pro"
    }

    .profile-picture-file:hover::before {
        border-color: black;
      }
      .profile-picture-file:active {
        outline: 0;
      }
      .profile-picture-file:active::before {
        background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9); 
      }
      
   
}
